# ignore toolchain and other bin stuff -> distributed over sourceforge
v[1-9]
v[1-9].tgz
arm926_sdk_v[1-9].tgz
*.tgz
*.gz
*.bz2
*.xz
linux-3.19.1
modules_3.19.1
linux-3.18.9
modules_3.18.9
toolchain
linux-stable
