/*
 * arietta_home_ADC.dts - Device Tree file for Arietta G25
 */
/dts-v1/;
#include "at91sam9g25.dtsi"
/ {
	model = "Acme Systems Arietta G25";
	compatible = "acme,ariettag25", "atmel,at91sam9x5ek","atmel,at91sam9x5", "atmel,at91sam9";
	aliases {
		serial0 = &dbgu;
		serial1 = &usart0;
		serial2 = &usart1;
		serial3 = &usart2;
		serial4 = &usart3;
		serial5 = &uart0;
		serial6 = &uart1;
	};
	chosen {
		bootargs = "console=ttyS0,115200 root=/dev/mmcblk0p2 rw rootwait";
	};
	memory {
		reg = <0x20000000 0x8000000>;
	};
	clocks {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		main_clock: clock@0 {
			compatible = "atmel,osc", "fixed-clock";
			clock-frequency = <12000000>;
		};

		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal { 
			clock-frequency = <12000000>; 
		};

		mcp251x_clock: clock@1 {
			 compatible = "fixed-clock";
			 //#clock-cells = <0>;
        		 clock-frequency = <16000000>;
			 clock-outputs = "mcp251x_clock";
     		}; 
	};
	ahb {
		apb {
			mmc0: mmc@f0008000 {
				pinctrl-0 = <
				  &pinctrl_mmc0_slot0_clk_cmd_dat0
				  &pinctrl_mmc0_slot0_dat1_3>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <4>;
				};
			};
			i2c1: i2c@f8014000 {
				status ="okay";
			};
			usart0: serial@f801c000 {
				pinctrl-0 = <&pinctrl_usart0>;
				status ="okay";
			};
			usart1: serial@f8020000 {
				pinctrl-0 = <&pinctrl_usart1 &pinctrl_usart1_rts &pinctrl_usart1_cts>;
				status ="okay";
			};
			spi1: spi@f0004000 {
				status = "okay";
				cs-gpios = <&pioA 8 0>, <&pioA 0 0>, <&pioA 31 0>, <&pioA 30 0>;
				device@0 {
					compatible = "spidev";
					spi-max-frequency = <5000000>;	    // 5 MHz
					reg = <0>;
				};

				can0: can@0 {
	      			      compatible = "microchip,mcp2515";
	      			      reg = <2>;
	      			      spi-max-frequency = <10000000>;	  
	      			      clocks = <&mcp251x_clock>;
				      clock-names = "mcp251x_clock";
				      //mcp251x-clock = <&mcp251x_clock>,"mcp251x_clock";
	      			      interrupt-parent = <&pioA>;  
	      			      interrupts = <4 0x2>; 
				};

				at25@0 {
				       compatible = "atmel,a t25", "st,m95256";
				       reg = <3>;
				       spi-max-frequency = <5000000>;

                		       pagesize = <64>;
                		       size = <32768>;
                		       address-width = <16>;
        			};
			};

			pinctrl@fffff400 {
				adc0 {
					pinctrl_adc0_ad0: adc0_ad0 {
						atmel,pins = <AT91_PIOB 11 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};
					pinctrl_adc0_ad1: adc0_ad1 {
						atmel,pins = <AT91_PIOB 12 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};
					pinctrl_adc0_ad2: adc0_ad2 {
						atmel,pins = <AT91_PIOB 13 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};
					pinctrl_adc0_ad3: adc0_ad3 {
						atmel,pins = <AT91_PIOB 14 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};
				};
			};
			
			adc0: adc@f804c000 {
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_adc0_ad0 &pinctrl_adc0_ad1 &pinctrl_adc0_ad2 &pinctrl_adc0_ad3>;
				atmel,adc-channels-used = <0xf>;
				atmel,adc-num-channels = <4>;
				compatible = "atmel,at91sam9x5-adc";
				atmel,adc-startup-time = <40>;
				atmel,adc-status-register = <0x1c>;
				atmel,adc-trigger-register = <0x08>;
				atmel,adc-use-external;
				atmel,adc-vref = <3250>;
				atmel,adc-res = <8 10>;
				atmel,adc-res-names = "lowres", "highres";
				atmel,adc-use-res = "highres";
				trigger@0 {
					trigger-name = "continuous";
					trigger-value = <0x6>;
				};
			};

			ssc0: ssc@f0010000 {
				status = "okay";
			};
			usb2: gadget@f803c000 {
				status = "okay";
			};
			dbgu: serial@fffff200 {
				status = "okay";
			};
			pinctrl@fffff400 {
				w1_0 {
					pinctrl_w1_0: w1_0-0 {
						/* pull up on */
						atmel,pins = <2 31 0x0 0x1>;
					};
				};

			};
			rtc@fffffeb0 {
				status = "okay";
			};
		};
		usb0: ohci@00600000 {
			status = "okay";
			num-ports = <3>;
		};
		usb1: ehci@00700000 {
			status = "okay";
		};
	};
	leds {
		compatible = "gpio-leds";
		arietta_led {
			label = "arietta_led";
			gpios = <&pioB 8 GPIO_ACTIVE_HIGH>; /* PB8 */
			linux,default-trigger = "heartbeat";
		};

		/* caramel led */
		//caramel_led {
		//	label = "caramel_led";
		//	gpios = <&pioA 22 GPIO_ACTIVE_HIGH>; /* PA22 */
		//	linux,default-trigger = "heartbeat";
		//};
	};
	onewire@0 {
		compatible = "w1-gpio";
		gpios = <&pioC 31 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_w1_0>;
	};
};